

/* stuff */
:root {
    --color-primary: rgb(142, 172, 80);
    --color-secondary: rgb(23, 89, 74);
    --color-tertiary: rgb(211, 208, 79);
    --color-quaternary: rgb(33, 51, 99);
}

* {
    margin: 0;
    padding: 0;
}

.section {
    background-image: linear-gradient(var(--color-quaternary), var(--color-tertiary), var(--color-primary));
    color: var(--color-secondary);
    min-height: 80vh;
}

hr {
    border-color: var(--color-secondary);
}





/* animations */
@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}









/* section type1 */
.type1 {
    position: relative;
    padding: 3em;

    display: flex;
    justify-content: center;
    gap: 4em;
}

/* container 1 */

.type1 > .container1 {
    width: 40%;
    height: fit-content;
}

.type1 > .container1 > h1 {
    font-size: 3em;
}

.type1 > .container1 > p {
    font-size: 1.5em;
}

/* container 2 */

.type1 > .container2 {
    width: 40%;
    height: fit-content;
}

.type1 > .container2 > img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

/* responsiveness */

@media (max-width: 1000px) {
    
    .type1 {
        display: block;
    }

    /* container 1 */
    .type1 > .container1 {
        width: 75%;

        float: unset;
        margin: auto;
        margin-top: 10em;

        text-align: center;
    }

    .type1 > .container1 > h1 {
        font-size: 4em;
    }
    
    .type1 > .container1 > p {
        font-size: 2em;
    }

    /* container 2 */
    .type1 > .container2 {
        display: none;
    }
}






/* section type2 */
.type2 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type2 > .container1 {
    width: 75%;
    height: fit-content;

    margin: auto;
    margin-top: 10em;
    text-align: center;
}

.type2 > .container1 > h1 {
    font-size: 4em;
}

.type2 > .container1 > p {
    font-size: 2em;
}

/* responsiveness */

@media (max-width: 1000px) {
    /* container 1 */
    .type2 > .container1 > h1 {
        font-size: 4em;
    }
    
    .type2 > .container1 > p {
        font-size: 2em;
    }
}




/* section type3 */
.type3 {
    position: relative;
    padding: 3em;

    display: flex;
    justify-content: center;
    gap: 4em;
}

/* container 1 */

.type3 > .container1 {
    height: 100%;

    flex: 1 1 0;
}

.type3 > .container1 > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.type3 > .container1 > h1 {
    font-size: 2.75em;
    text-align: center;
}


/* container 2 */

.type3 > .container2 {
    height: 100%;

    flex: 1 1 0;
}

.type3 > .container2 > p {
    font-size: 2em;
}

/* responsiveness */

@media (max-width: 1000px) {
    .type3 {
        display: block;
    }

    /* container 1 */
    .type3 > .container1 {
        width: 50%;
        height: 40%;
        margin: auto;
        margin-top: 5em;
    }

    .type3 > .container1 > h1 {
        font-size: 2.25em;
        text-align: center;
    }

    /* container 2 */

    .type3 > .container2 > p {
        font-size: 1.5em;
        text-align: center;
    }
}




/* section type4 */
.type4 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type4 > .container1 {
    width: 75%;

    margin: auto;
    text-align: center;
}

.type4 > .container1 > h1 {
    font-size: 3em;
}

.type4 > .container1 > p {
    font-size: 1.5em;
}

/* responsiveness */

@media (max-width: 1000px) {
    /* container 1 */
    .type4 > .container1 > h1 {
        font-size: 3em;
    }
    
    .type4 > .container1 > p {
        font-size: 1.5em;
    }
}





/* section type5 */
.type5 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type5 > .container1 {
    width: 75%;
    height: 100%;

    text-align: center;
    margin: auto;
}

.type5 > .container1 > h1 {
    font-size: 3em;
}

.type5 > .container1 > p, .type5 > .container1 > .list > .item  {
    font-size: 1.5em;
}

.type5 > .container1 > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type5 > .container1 > .list > .item {
    padding: 0.4em 0.75em;
    margin: 0.25em;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

/* responsiveness */

@media (max-width: 1000px) {
    /* container 1 */
    .type5 > .container1 > h1 {
        font-size: 3em;
    }
    
    .type5 > .container1 > p, .type5 > .container1 > .list > .item  {
        font-size: 1.5em;
    }
}

/* effects */

.type5 > .container1 > .list > .item:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.type5 > .container1 > .list > .item:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}