

/* stuff */
* {
    margin: 0;
    padding: 0;
}



/* type 1 */
:root {
    --color-primary: rgb(142, 172, 80);     /* light */
    --color-secondary: rgb(23, 89, 74);     /* dark */
    --color-tertiary: rgb(211, 208, 79);    /* lightest */
    --color-quaternary: rgb(33, 51, 99);    /* darkest */
}

.section {
    background-image: linear-gradient(var(--color-primary), var(--color-tertiary), var(--color-primary));
    color: var(--color-secondary);
    min-height: 80vh;
}

hr {
    border-color: var(--color-secondary);
}

@media (max-width: 768px) {
    .section {
        min-height: 70vh;
    }
}

body::-webkit-scrollbar {
    background-color: var(--color-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-quaternary);
    border-radius: 20px;
}

.type1-5 > .container1 > .list > .item:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;

    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}

::selection {
    color: var(--color-tertiary);
    background-color: var(--color-quaternary);
}

img::selection {
    background-color: var(--color-primary);
}





/* animations */
@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        z-index: 2;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
        z-index: initial;
    }
}


/* navbar */
.navbar1 {
    background-color: var(--color-quaternary);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar1 > nav.list {
    height: 100%;

    display: flex;
}

.navbar1 > nav.list > .item {
    height: 100%;
    font-size: 1.5em;

    text-decoration: none;
    color: var(--color-tertiary);

    padding: 1em;
    box-sizing: border-box;
}

/* responsiveness */
@media (max-width: 768px) {
    .navbar1 > nav.list > .item {
        font-size: 1.25em;
        padding: 0.75em;
    }
}

/* effects */
@keyframes navbar1_hide {
    0% {
        top: 0px;
    }
    100% {
        top: -12vh;
    }
}

@keyframes navbar1_show {
    0% {
        top: -12vh;
    }
    100% {
        top: 0px;
    }
}

.navbar1 > nav.list > .item:hover {
    color: var(--color-quaternary);
    background-color: var(--color-tertiary);
}






/* section type1-1 */
.type1-1 {
    position: relative;
    padding: 3em;

    display: flex;
    justify-content: center;
    gap: 4em;
}

/* container 1 */

.type1-1 > .container1 {
    width: 40%;
    height: fit-content;
}

.type1-1 > .container1 > h1 {
    font-size: 3em;
}

.type1-1 > .container1 > p {
    font-size: 1.5em;
}

/* container 2 */

.type1-1 > .container2 {
    width: 40%;
    height: fit-content;
}

.type1-1 > .container2 > img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

/* responsiveness */

@media (max-width: 768px) {
    
    .type1-1 {
        display: block;
        padding: 1em;
    }

    /* container 1 */
    .type1-1 > .container1 {
        width: 100%;

        float: unset;
        margin: auto;
        margin-top: 25%;
        margin-bottom: 25%;

        text-align: center;
    }

    .type1-1 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-1 > .container1 > p {
        font-size: 1.25em;
    }

    /* container 2 */
    .type1-1 > .container2 {
        display: none;
    }
}






/* section type1-2 */
.type1-2 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type1-2 > .container1 {
    width: 75%;
    height: fit-content;

    margin: auto;
    margin-top: 10em;
    text-align: center;
}

.type1-2 > .container1 > h1 {
    font-size: 4em;
}

.type1-2 > .container1 > p {
    font-size: 2em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-2 {
        padding: 1em;
    }

    /* container 1 */
    .type1-2 > .container1 {
        width: 100%;
        margin-top: 25%;
        margin-bottom: 25%;
    }
    
    .type1-2 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-2 > .container1 > p {
        font-size: 1.25em;
    }
}




/* section type1-3 */
.type1-3 {
    position: relative;
    padding: 3em;

    display: flex;
    justify-content: center;
    gap: 4em;
}

/* container 1 */

.type1-3 > .container1 {
    height: 100%;

    flex: 1 1 0;
    text-align: center;
}

.type1-3 > .container1 > img {
    width: 80%;
    height: 100%;

    object-fit: cover;
}

.type1-3 > .container1 > h1 {
    font-size: 2.75em;
    text-align: center;
}


/* container 2 */

.type1-3 > .container2 {
    height: 100%;

    flex: 1 1 0;
}

.type1-3 > .container2 > p {
    font-size: 2em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-3 {
        display: block;
        padding: 1em;
    }

    /* container 1 */
    .type1-3 > .container1 {
        width: 100%;
        height: 40%;
        margin: auto;
        margin-top: 10%;
    }

    .type1-3 > .container1 > h1 {
        font-size: 2.25em;
        text-align: center;
    }

    /* container 2 */

    .type1-3 > .container2 > p {
        font-size: 1.25em;
        text-align: center;
    }
}




/* section type1-4 */
.type1-4 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type1-4 > .container1 {
    margin: auto;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: center;
}

.type1-4 > .container1 > h1 {
    font-size: 3em;
}

.type1-4 > .container1 > p {
    font-size: 1.5em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-4 {
        padding: 1.5em;
    }

    /* container 1 */
    .type1-4 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-4 > .container1 > p {
        font-size: 1.25em;
    }
}





/* section type1-5 */
.type1-5 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type1-5 > .container1 {
    height: 100%;

    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.type1-5 > .container1 > h1 {
    font-size: 3em;
}

.type1-5 > .container1 > p, .type1-5 > .container1 > .list > .item  {
    font-size: 1.5em;
}

.type1-5 > .container1 > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type1-5 > .container1 > .list > .item {
    padding: 0.4em 0.75em;
    margin: 0.25em;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-5 {
        padding: 1.5em;
    }

    /* container 1 */
    .type1-5 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-5 > .container1 > p, .type1-5 > .container1 > .list > .item  {
        font-size: 1.25em;
    }
}

/* effects */

.type1-5 > .container1 > .list > .item:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.type1-5 > .container1 > .list > .item:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;

    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}








/* section type1-6 */
.type1-6 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type1-6 > .container1 {
    height: 100%;

    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}


.type1-6 > .container1 > h1 {
    font-size: 3em;
}

.type1-6 > .container1 > p {
    font-size: 1.5em;
}

.type1-6 > .container1 > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    margin-top: 1em;
}

.type1-6 > .container1 > .list > .item {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-secondary);
    border-radius: 10px;

    display: flex;
    gap: 1em;
    justify-content: center;
    flex-grow: 0.3;

    padding: 1em;
    width: 25vw;

    text-decoration: none;
}

/* item container 1 */

.type1-6 > .container1 > .list > .item > .container1 > img {
    border: 1px solid var(--color-secondary);

    width: 10vh;
    height: 10vh;

    object-fit: cover;
}

/* item container 2 */

.type1-6 > .container1 > .list > .item > .container2 {
    flex: 1 1 0;
}

.type1-6 > .container1 > .list > .item > .container2 > h1 {
    margin-bottom: 0.25em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-6 {
        padding: 1.5em;
    }

    /* container 1 */
    .type1-6 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-6 > .container1 > p {
        font-size: 1.25em;
    }

    .type1-6 > .container1 > .list {
        gap: 0.5em;
    }

    .type1-6 > .container1 > .list > .item {
        width: 37.5vw;
        flex-grow: 0.5;
    }

    /* item container 2 */
    .type1-6 > .container1 > .list > .item > .container1 > img {
        width: 8vh;
        height: 8vh;
    }

    /* item container 2 */
    .type1-6 > .container1 > .list > .item > .container2 > h1 {
        font-size: 1.25em;
        margin-bottom: 0.15em;
    }
    
    .type1-6 > .container1 > .list > .item > .container2 > p {
        font-size: 1em;
    }
}

/* effects */

.type1-6 > .container1 > .list > .item:not(:hover) {
    animation: 0.15s ease 0s shrink;
    animation-fill-mode: forwards;
}

.type1-6 > .container1 > .list > .item:hover {
    animation: 0.15s ease 0s grow;
    animation-fill-mode: forwards;

    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}





/* section type1-7 */
.type1-7 {
    position: relative;
    padding: 3em;
}

/* container 1 */

.type1-7 > .container1 {
    text-align: center;
}

.type1-7 > .container1 > h1 {
    font-size: 3em;
}

.type1-7 > .container1 > p {
    font-size: 1.5em;
}

.type1-7 > .container1 > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    flex-direction: column;

    margin-top: 1em;
}

.type1-7 > .container1 > .list > .item {
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-secondary);

    display: flex;
    gap: 1em;

    flex-grow: 1;
    
    padding: 1em;
}

/* item container 1 */
.type1-7 > .container1 > .list > .item > .container1 > img {
    border: 1px solid var(--color-secondary);

    width: 10vh;
    height: 10vh;

    object-fit: cover;
}

/* item container 2 */
.type1-7 > .container1 > .list > .item > .container2 {

    flex: 1 1 0;
    text-align: left;
}

.type1-7 > .container1 > .list > .item > .container2 > .progressbar {
    border: 1px solid var(--color-secondary);
    display: inline-block;

    width: 90%;
    height: 15%;
}

.type1-7 > .container1 > .list > .item > .container2 > .progressbar > .progress {
    background-color: var(--color-secondary);
    width: var(--width);
    height: 100%;
}

.type1-7 > .container1 > .list > .item > .container2 > p {
    width: fit-content;
    display: inline-block;

    font-size: 1.5em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-7 {
        padding: 1.5em;
    }

    /* container 1 */
    .type1-7 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-7 > .container1 > p {
        font-size: 1.25em;
    }
}

/* effects */
@keyframes type1-7_animation1-1 {
    0% {
        width: 0%;
    }

    100% {
        width: --width;
    }
}

.type1-7_animation1-1 {
    animation: 0.5s cubic-bezier(.66,.26,.29,1.01) 0s type1-7_animation1-1;
    animation-fill-mode: forwards;
}

.type1-7_animation1-2 {
    background-color: var(--color-tertiary) !important;
}

.type1-7_animation1-3 {
    border-color: var(--color-tertiary) !important;
}

.type1-7 > .container1 > .list > .item:hover{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}










/* section type1-8 */
.type1-8 {
    position: relative;
    padding: 3em;
}

/* container 1 */
.type1-8 > .container1 {
    text-align: center;
}

.type1-8 > .container1 > h1 {
    font-size: 3em;
}

.type1-8 > .container1 > p {
    font-size: 1.5em;
}

.type1-8 > .container1 > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    margin-top: 2em;
}

.type1-8 > .container1 > .list > .item {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-tertiary);

    display: flex;
    gap: 2em;
    
    width: 90%;
    
    min-height: 40vh;
    padding: 1em;

    text-decoration: none;
}

/* item container 1 */
.type1-8 > .container1 > .list > .item > .container1 {
    flex: 1 1 0;
}

.type1-8 > .container1 > .list > .item > .container1 > img {

    width: 100%;
    height: 40vh;

    object-fit: cover;
}

/* item container 2 */
.type1-8 > .container1 > .list > .item > .container2 {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
}

.type1-8 > .container1 > .list > .item > .container2 > h1 {
    text-align: left;
    margin-bottom: 0.25em;
}

.type1-8 > .container1 > .list > .item > .container2 > p {
    text-align: left;

    flex: 1 1 0;
}

.type1-8 > .container1 > .list > .item > .container2 > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    margin-top: 0.5em;
}

.type1-8 > .container1 > .list > .item > .container2 > .list > .item {
    border: 1px solid var(--color-secondary);
    border-radius: 5px;

    padding: 0.25em;
}

/* responsiveness */

@media (max-width: 768px) {
    .type1-8 {
        padding: 1.5em;
    }

    /* container 1 */
    .type1-8 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-8 > .container1 > p {
        font-size: 1.25em;
    }

    .type1-8 > .container1 > .list > .item {
        flex-direction: column;
    }
}

/* effects */
.type1-8_animation1-1 {
    border-color: var(--color-tertiary) !important;
}

.type1-8 > .container1 > .list > .item:not(:hover) {
    animation: 0.15s ease 0s shrink;
    animation-fill-mode: forwards;
}

.type1-8 > .container1 > .list > .item:hover{
    animation: 0.15s ease 0s grow;
    animation-fill-mode: forwards;

    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}








/* section type1-9 */
.type1-9 {
    position: relative;
    padding: 3em;
    min-height: 60vh;
    
    background-image: linear-gradient(var(--color-primary) 0%, var(--color-secondary) 15%);
    color: var(--color-tertiary);
}

/* container 1 */

.type1-9 > .container1 {
    height: 100%;

    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.type1-9 > .container1 > h1 {
    font-size: 3em;
}

.type1-9 > .container1 > p, .type1-9 > .container1 > .list1 > .item, .type1-9 > .container1 > .list2 > .item  {
    font-size: 1.5em;
}

.type1-9 > .container1 > .list1, .type1-9 > .container1 > .list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type1-9 > .container1 > .list1 > .item {
    padding: 0.4em 0.75em;
    margin: 0.25em;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--color-tertiary);

    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.type1-9 > .container1 > .list1 > .item > img {
    width: 1.5em;
    height: 1.5em;

    object-fit: cover;
}

.type1-9 > .container1 > .list1 > .item > p {
    line-height: 150%;
}

.type1-9 > .container1 > .list2 > .item {
    padding: 0.4em 0.75em;
    margin: 0.25em;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--color-tertiary);

    display: flex;
    gap: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
    flex-direction: column;
}

.type1-9 > .container1 > .list2 > .item > h1 {
    font-size: 1em;
    margin: 0;
}


/* responsiveness */

@media (max-width: 768px) {
    .type1-9 {
        min-height: 50vh;
        padding: 1.5em;
    }

    /* container 1 */
    .type1-9 > .container1 > h1 {
        font-size: 2.25em;
    }
    
    .type1-9 > .container1 > p, .type1-9 > .container1 > .list1 > .item, .type1-9 > .container1 > .list2 > .item  {
        font-size: 1.25em;
    }
}

/* effects */

.type1-9 > .container1 > .list1 > .item:not(:hover), .type1-9 > .container1 > .list2 > .item:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.type1-9 > .container1 > .list1 > .item:hover, .type1-9 > .container1 > .list2 > .item:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;

    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}